@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'geo';
  src: url(./assets/fonts/Helvetica_Neue_GEO.ttf) format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'eng', sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  background: #181624;
  color: white;
}

* {
  scrollbar-width: thin;
  scrollbar-color: gray rgb(31, 30, 30);
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 14px;
  border: 3px solid black;
}
